* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}

.container{
    padding: 10px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.about-site{
    padding: 10px 0;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.header-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0;
    font-size: 30px;
}

.website-title{
    flex: 1;                
    display: flex;          
    align-items: center;
    justify-content: center; 
    gap: 30px;              
    margin: 60px 0;
    padding: 10px 0;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.website-title::before, .website-title::after{
    content: '';
    height: 2px;
    background: #ff004f;
    flex: 1 1 0;
}

.container p{
    font-size: large;
    color: #ababab;
}

.header-text span{
    color: #ff004f;
}



/*------------------------- About section -------------------------*/
#about{
    padding: 300px 0;
    font-size: large;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 100%;
}

.sub-title {
    position: relative;
    text-align: center;
    padding: 10px 0;
    margin: 60px 0;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.sub-title::before, .sub-title::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 2px;
    background: #ff004f;
}

.sub-title::before{
    left: 0;
}

.sub-title::after{
    right: 0;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 70px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 18px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* infinite animation loop */
/* .moving-icons {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.scrolling-wrapper {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.scrolling-content {
  display: flex;
  gap: 1.5rem;
}

.scrolling-content img {
  height: 30px;
  flex-shrink: 0;
}

@keyframes scroll {
  from { 
    transform: translateX(0);
  }
  to { 
    transform: translateX(-50%); 
 } 
}
*/






/*------------------------- My projects section -------------------------*/

#projects{
    padding: 250px 0;
}

.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.projects-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.projects-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.projects-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.projects-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.projects-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

/*------------------------- Contact section -------------------------*/
#contact{
    padding: 100px 0;
}

#contact .sub-title{
    text-align: left;
}

.sub-title-contact{
    padding: 10px 0;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.contact-info{
    flex-basis: 50%;
}

.contact-info p{
    margin-top: 30px;
}

.contact-info p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn{
    display: block;
    margin: 40px 0;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff004f;
}

/* css for small screen */


/* click to scroll */
